.Modal_Mask{
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  padding: 50px;
  background: #00000073;
  .Model_content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    display: grid;
    padding: 10px;
    grid-template-rows: auto 12fr 1fr;
    .header{
      padding: 10px 20px 20px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
    }
    .main{
      display: grid;
      height: 100px;
      box-sizing: border-box;
      grid-gap: 5px;
      margin: 10px 0;
      grid-template-columns: repeat(10,1fr);
      .item_pic{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: #ccc;
        overflow: hidden;
        box-sizing: border-box;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
    .footer{
      .footer_content{
        display: flex;
        justify-content: flex-end;
        Button{
          margin-right: 20px;
        }
      }
    }
  }
}