.content{
  //.banner_content{
  //  width: 100%;
  //  height: 750rpx;
  //  .banner_item{
  //    width: 100%;
  //    height: 100%;
  //    image{
  //      width: 100%;
  //      height: 100%;
  //      display: block;
  //    }
  //  }
  //}
  //.video_content{
  //  width: 100%;
  //  video{
  //    display: block;
  //    width: 100%;
  //  }
  //}
  .thume{
    width: 100%;
    display: block;
  }
  .video_content{
    width: 100%;
    padding: 0 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background: #060202;
    video{
      width: 100%;
      display: block;
    }
  }
}
